
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */



html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #bdaeea;
  --header-color:    #bdaeea;
  --body-color:      #bdaeea;
  --aside-color:     #bdaeea;
  --fig-cap-color:   #eeeeee;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    sans-serif;
  --mono-font:       monospace;
  --body-font:       sans-serif;
  --navbar-font:     sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #bdaeea;
  --body-size:       0.8rem;
  --body-color:      #bdaeea;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    20px;
  --contents-size:   14px;
  --heading-color:   #bdaeea; 
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   #bdaeea;
  --text-size:       0.8em;
  --text-color:      #bdaeea;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       white;
  --text-size:        15px;
  --hover-color:      #aeccea;
  --bkgd-color:       #bdaeea;
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      #aeccea;
  --bkgd-color:       #bdaeea;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

/* Buttons on home page */

.btn-outline-dark {
    background-color: #bdaeea;
    color: #fff;
    border: 0px;
}

.btn-outline-dark:hover {
    background-color: #bdaeea;
}

.panelset {
   --panel-tab-foreground: #bdaeea;
   --panel-tab-background: #aeccea;
   --panel-tab-active-foreground: #bdaeea;
   --panel-tab-active-background: #aeccea;
   --panel-tab-active-border-color: #bdaeea;
   --panel-tab-hover-foreground: #bdaeea;
   --panel-tab-hover-background: #aeccea;
   --panel-tab-hover-border-color: #aeccea;
   --panel-tab-inactive-opacity: 0.5;
   --panel-tabs-border-bottom: #ddd;
   --panel-tab-font-family: monospace;
}

body {
  color: #bdaeea;
}
h1, h2, h3 {
  color: #bdaeea;
}

/* unvisited link */
a:link {
  color: #aeccea;
}

/* visited link */
a:visited {
  color: #aeccea;
}

/* mouse over link */
a:hover {
  color: #aeccea;
}

